<ion-view>

    <ion-content style="top:0px">
        <div class="user-imgs">
            <figure>
                <img src="img/component/profile.png">
                <figcaption>Ana Toduri</figcaption>
            </figure>
        </div>
        <div class="artical-set">
            <div class="map-set">
                <h2 class="title-c">Article</h2>
            </div>

        </div>

        <div class="artical-content">
            <div class="art-date">
                <p>June 15,2015</p>
            </div>
            <div class="articals-det">
                <h3>"Nullam pharetra vehicula suscipit. Nunc lacinia justo non libero sollicitudin imperdiet. Ut vitae augue enim. ..."</h3>
                <p>Fusce nisl nisl, faucibus aliquam nisi quis, fringilla blandit ligula. Donec arcu risus, vehicula et ullamcorper at, semper ac felis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                <div class="art-pic">
                    <img src="img/blog/travel/art.png" class="full-image">
                </div>
                 <div class="know-content addanimation" ng-class="showDetails">
                <p ng-repeat="text in moretext" class="moretext">{{text.more}}</p>
            </div>
            <div class="know-more know-btn" ng-click="showmore();">
                {{moredetails}}
            </div>

            </div>
        </div>

    </ion-content>
</ion-view>
