<ion-view>
    <ion-content style="top:0px">
        <div class="gallery2-set">

            <div class="map-set">
                <h2 class="title-c">People</h2>

            </div>
        </div>
        <div class="gallery-img ">
            <div class="row">
                <div class="col col-50" ng-click="openModal($index);">

                    <figure class="image-set">
                        <img ng-src="img/gallery/fashion/fashion1.jpg" class="full-image">
                      
                    </figure>

                </div>
    <div class="col col-50" ng-click="openModal($index);">

                    <figure class="image-set">
                        <img ng-src="img/gallery/fashion/fashion2.jpg" class="full-image">
                      
                    </figure>

                </div>

            </div>
        <div class="row">
                <div class="col col-50" ng-click="openModal($index);">

                    <figure class="image-set">
                        <img ng-src="img/gallery/fashion/fashion3.jpg" class="full-image">
                      
                    </figure>

                </div>
    <div class="col col-50" ng-click="openModal($index);">

                    <figure class="image-set">
                        <img ng-src="img/gallery/fashion/fashion4.jpg" class="full-image">
                      
                    </figure>

                </div>

            </div>
                    <div class="row">
                <div class="col col-50" ng-click="openModal($index);">

                    <figure class="image-set">
                        <img ng-src="img/gallery/fashion/fashion5.jpg" class="full-image">
                      
                    </figure>

                </div>


            </div>
        </div>

    </ion-content>
</ion-view>
