<ion-view>
    <ion-content style="top:0px">
        <div class="gallery2-set">

            <div class="map-set">
                <h2 class="title-c">People</h2>

            </div>
        </div>
        <div class="gallery-img ">
            <div class="row" ng-repeat="pro in fashions | inSlicesOf:2">
               
                <div class="col col-50" ng-click="openModal(fashions.indexOf(fashion));" ng-repeat="fashion in pro" >
                    <figure class="image-set">
                        <img ng-src="{{fashion.imgpath}}" class="full-image">

                    </figure>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
