<ion-view>
    <ion-content style="top:0px">
        <div class="gallery-set">

            <div class="map-set">
                <h2 class="title-c">Gallery</h2>

            </div>
        </div>
        <div class="gallery-img ">
            <div class="row" ng-repeat="pro in gallery | inSlicesOf:2">
                <div class="col col-50" ng-click="openModal($index);" ng-repeat="gal in pro">

                    <figure class="image-set">
                        <img ng-src="{{gal.imgpath}}" class="full-image">
                        <figcaption>{{gal.imagename}}</figcaption>
                    </figure>

                </div>


            </div>

        </div>

    </ion-content>
</ion-view>
