<ion-view >

  <ion-content style="top:0px" overflow-scroll="true" delegate-handle="mainScroll" on-scroll="mainscrolling();">
         <div class="profiles-set">
            <div class="map-set">
                <h2 class="title-c">Setting</h2>
         
             
            </div>
        </div>
        
    <ul class="list">

      <div class="item item-divider-positive">TOGGLE</div>

      <ion-toggle ng-model="airplaneMode" toggle-class="toggle-assertive">Airplane Mode</ion-toggle>
      <ion-toggle ng-model="wifi" toggle-class="toggle-positive">Wi-Fi</ion-toggle>

      <div class="item item-divider-positive profile-check">CHECKBOXES</div>

      <ion-checkbox ng-model="checkOpt1">Option 1</ion-checkbox>
      <ion-checkbox ng-model="checkOpt2">Option 2</ion-checkbox>
    

      <div class="item item-divider-positive">RADIO</div>

      <ion-radio ng-model="radioChoice" ng-value="'A'">Choose A</ion-radio>
      <ion-radio ng-model="radioChoice" ng-value="'B'">Choose B</ion-radio>
      <ion-radio ng-model="radioChoice" ng-value="'C'">Choose C</ion-radio>

      <div class="item item-divider-positive">RANGES</div>

      <div class="range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>

  

     
    </ul>
  </ion-content>
</ion-view>
