<ion-view class="">

    <div class="bar bar-header dark-green">
        <h1 class="title back-arrow"><a href="#/user-login"><i class="icon ion-ios-arrow-thin-left"></i></a></h1>
    </div>
    <ion-content>
        <div class="parallax">
            <div class="clip-polygon">
<h1 class="sign-up">Sign Up</h1>
            </div>

            <div class="sign-content">
                <div class="list login-user">
                    <label class=" item-input">
                        <i class="icon ion-ios-person-outline"></i>
                        <input type="text" placeholder="Name">
                    </label>
                    <label class=" item-input">
                        <i class="icon ion-ios-email-outline"></i>
                        <input type="email" placeholder="Email">
                    </label>
                    <label class=" item-input">
                        <i class="icon ion-ios-locked-outline"></i>
                        <input type="password" placeholder="Password">
                    </label>
                    <label class=" item-input">
                        <i class="icon ion-ios-calendar-outline"></i>
                        <input type="date" placeholder="Birthday">
                    </label>
                   
                </div>


                <div class="login-forget pull-right">

                </div>
            </div>
        </div>
        <div class="signin footer">
            <div class="login-btn btn-set">
                <button class="button button-full button-positive button-block">
                    Join
                </button>
            </div>
            <div class="sign  text-center">
                <span class="dont">Don’t have an account?<a href="#/user-login">Sign In</a></span>
            </div>
        </div>
    </ion-content>

</ion-view>